{% extends 'core/base.html' %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/interaccion.css' %}">
<script defer src="{% static 'js/interaccion.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main">
<section id="manifiesto">
  <h2>1. Manifiesto</h2>
  <p>SATORI.404 es una plataforma artística, tecnológica y filosófica que entrelaza IA, glitch, y reflexión crítica.</p>
  <a href="/manifesto">→ Leer el manifiesto completo</a>
</section>

<section id="framework">
  <h2>2. Framework</h2>
  <ul>
    <li><a href="/ascii">ASCII</a>: convertidor de video a ASCII glitcheado.</li>
    <li><a href="">protocolo_R2D2</a>: comunicación entre IAs mediante QR auditivo. Síntesis y decodificación</li>
    <li><a href="">Cluster Agentes IA</a>: Fork de la app Mentor-ia. Diseñada para generar contexto ampliado (RAG) e interacción entre múltiples modelos de inteligencia artificial.</li>
    <li><a href="">Nodos</a>:Visualizador de flujo de nodos e interacciónes.</li>
    
  </ul>
</section>

<section id="documentacion">
  <h2>5. Documentación</h2>
  <ul>
    <li><a href="https://github.com/assizalcaraz/satori_404" target="_blank">Repositorio GitHub</a></li>
    <li><a href="https://github.com/assizalcaraz/satori_404/blob/master/bitacora%20(1).md">bitácora</a>: Bitácora.</li>
  </ul>
</section>
</div>

{% endblock %}
